@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #191E29;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.results{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
}
.results div{
    border: 2px solid #01C380;
    box-shadow: 15px 15px 16px 0px rgba(0,0,0,0.52);
    border-radius: 12%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results p{
    font-size: 50px;
    margin: 0px;
}
.title{
    font-size: 42px;
    padding-bottom: 3px;
    border-bottom: 2px solid #01C380;
}

.options{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

button{
    width: 75px;
    height: 75px;
    font-size: 50px;
    background-color: #191E29;
    border: 2px solid #01C380;
    border-radius: 12%;
    transition: all 0.25s;
}

h1{
    text-align: center;
}
button:hover{
    transform: scale(1.3);
}

button:active{
    transform: scale(0.9);
}
.hidden{
    display: none;
}

#winner{
    text-align: center;
}